			<aside class="col-md-3 blog-sidebar">
				<div class="pt-4">
					<p class="font-weight-bold">
					<a href="{{ path('tvshow_admin') }}" class="primary">Séries</a></p>
					<p class="font-weight-bold">
					<a href="{{ path('category_admin') }}" class="primary">Categories</a></p>
				</div>
			</aside>