{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h2>Modifier mon mot de passe</h2>


{{ form_start(form) }} {# <form method=""post"> #}
    
    {{ form_widget(form) }}

    <input type="submit" value="Modifier mon mot de passe" class="btn btn-primary">
{{ form_end(form) }} {# </form> #}

{% endblock %}
